body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

#recommend-perfume {
    width: 400px; /* ボタンのサイズを変更 */
    height: 400px; /* ボタンのサイズを変更 */
    border-radius: 50%; /* 丸い形状にする */
    border: none;
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
}

#recommend-perfume:hover {
    background-color: rgba(211, 177, 188, 0.186);
}

.button-icon {
    width: 180px; /* アイコンのサイズを適切に設定 */
    height: 180px; /* アイコンのサイズを適切に設定 */
    border-radius: 50%; /* 画像を丸くする */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#cancel-button {
    /* 既存のスタイル */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(93, 160, 209);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;

    /* 中央に配置するための追加スタイル */
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* アニメーション効果 */
@keyframes shrinkAndMoveUp {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(-100px) scale(0.5); }
}

.today-perfume {
    transition: opacity 0.5s ease-in-out;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(191, 150, 74);
}

.fade-out {
    opacity: 0;
}
